/* Basic Css  */
.container {
  max-width: 600px;
  margin: 0px auto;
  padding: 15px;
}
.Post {
  border: 2px solid #000;
  padding: 20px;
  margin: 0px 0px 20px 0px;
}
.Post__time {
  color: rgb(143, 132, 118);
}
.btn-warning {
  margin: 0px 0px 0px 20px;
}
.add__input {
  width: 100%;
  font-size: 24px;
}
